# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS system files
.DS_Store

# Editor swap files
*.swp
*.swo

# Miscellaneous
*.sqlite3
